@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans Light', sans-serif;
}

.bold, .subheader .subheader-link {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: bold;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.small-text {
  font-size: 14px;
  color: #555252;
}

button {
  cursor: pointer;
  outline: none;
}

.green-colored {
  color: #1abc9c;
}

h2 {
  margin: 0;
}

.section-title {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -1px;
  color: #515151;
  text-align: center;
}

header {
  color: white;
  height: 50px;
  background-color: #1abc9c;
  font-size: 14px;
}

header .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

header .mail-container {
  margin-left: 33px;
}

header .header-link {
  text-decoration: unset;
  color: white;
  margin-left: 28px;
}

header .header-link:hover {
  text-decoration: underline;
}

header .header-link:first-child {
  margin-left: 0;
}

.subheader {
  height: 91px;
}

.subheader .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.subheader .subheader-link {
  text-decoration: unset;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 28px;
}

.subheader .subheader-link:hover {
  color: #1abc9c;
}

.subheader .subheader-link:last-child {
  margin-right: 0;
}

.subheader .cart {
  margin-left: 8px;
  margin-right: 8px;
}

.subheader .bag {
  width: 20px;
  height: 26px;
  background-image: url("../img/bag.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 20px auto;
  background-position-y: 0px;
  background-repeat: no-repeat;
}

.carousel {
  height: 600px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel .background {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.carousel .background img {
  opacity: 0.6;
  height: 100%;
}

.carousel .arrow {
  position: absolute;
  width: 104px;
  height: 104px;
  background-color: rgba(78, 198, 171, 0.65);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel .arrow.arrow-left {
  left: 0;
  margin-left: -7px;
}

.carousel .arrow.arrow-right {
  right: 0;
  margin-left: 2px;
}

.carousel .arrow .arrow-icon {
  font-size: 38px;
  color: white;
}

.carousel .slide-content {
  z-index: 1;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .first-row {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.carousel .second-row {
  font-size: 48px;
}

.carousel .green-colored {
  font-weight: bold;
}

.carousel .btn {
  padding: 16px 30px;
  border: 2px solid #1abc9c;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: white;
  background: transparent;
  text-transform: uppercase;
  margin-top: 12px;
}

.about {
  height: 450px;
}

.about .container {
  padding-top: 96px;
  padding-bottom: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .item-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 249px;
}

.about .item-container:hover .item-image-normal {
  display: none;
}

.about .item-container:hover .item-image-green {
  display: inline-block;
}

.about .item-container:hover .item-title {
  color: #1abc9c;
}

.about .item-image {
  width: 66px;
}

.about .item-image.item-image-normal {
  display: inline-block;
}

.about .item-image.item-image-green {
  display: none;
}

.about .item-title {
  font-weight: 600;
  font-size: 18px;
  margin-top: 54px;
  margin-bottom: 30px;
  color: #555252;
}

.about .item-text {
  text-align: center;
  color: #555252;
  line-height: 171%;
  font-size: 14px;
  letter-spacing: -0.3px;
}

.three-lines-block {
  margin-top: 16px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  position: relative;
  top: 6px;
}

.three-lines-block::before, .three-lines-block::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #1abc9c;
}

.three-lines-block::before {
  top: -4px;
}

.three-lines-block::after {
  bottom: -4px;
}

.products-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.products-container .product-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 322px;
}

.products-container .product-item:hover .opacity-container,
.products-container .product-item:hover .actions-container-container {
  opacity: 1;
}

.products-container .product-item:hover .name {
  background-color: #1abc9c;
}

.products-container .product-item:hover .price {
  background-color: #3ee4c4;
}

.products-container .image-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
}

.products-container .opacity-container {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 12px solid rgba(255, 255, 255, 0.55);
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.products-container .actions-container-container {
  opacity: 0;
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  background-color: rgba(0, 0, 0, 0.55);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.products-container .actions-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  width: 166px;
  opacity: 0.85;
}

.products-container .action-btn {
  height: 50px;
  border: 1px solid white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 23px;
  color: white;
  cursor: pointer;
  background-color: transparent;
}

.products-container .action-btn.wide {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: #323232;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.products-container .action-btn:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
  opacity: 1;
}

.products-container .add-to-cart-label {
  font-size: 14px;
  letter-spacing: -0.3px;
}

.products-container .name-and-price {
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: white;
  font-weight: 900;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.products-container .name {
  background-color: #323232;
  line-height: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-transform: uppercase;
  padding-left: 14px;
  font-family: Roboto;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.products-container .price {
  background-color: #8D8D8D;
  line-height: 40px;
  width: 54px;
  text-align: center;
  font-family: Roboto;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.new-collection {
  height: 676px;
  background-color: #e9f0fd;
}

.new-collection .container {
  padding-top: 100px;
  padding-bottom: 98px;
}

/*.......................................................FEATURED PRODUCTS  начало..........................................................*/
.FEATURED-PRODUCTS {
  height: 1166px;
}

.FEATURED-PRODUCTS .container {
  padding-top: 100px;
  padding-bottom: 98px;
}

.FEATURED-PRODUCTS-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 106px;
}

.FEATURED-PRODUCTS-category .category {
  padding: 4px;
  border: 1px solid #959595;
  border-radius: 3px;
  margin-left: 7px;
  margin-right: 7px;
  text-transform: uppercase;
  cursor: pointer;
}

.FEATURED-PRODUCTS-category .category:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
  opacity: 1;
  color: white;
}

.product-item {
  position: relative;
}

.product-item .product-new {
  position: absolute;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 30px;
  border: 1px solid black;
  top: 12px;
  left: 13px;
}

.product-item .product-sale {
  position: absolute;
  z-index: 2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 30px;
  border: 1px solid black;
  top: 12px;
  left: 175px;
}

.product-item .image-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*.......................................................FEATURED PRODUCTS   конец..........................................................*/
/*.......................................................END OF SEASON SALE  начало..........................................................*/
.END-OF-SEASON-SALE {
  position: relative;
  height: 401px;
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.END-OF-SEASON-SALE .END-OF-SEASON-SALE-background {
  position: absolute;
  z-index: -2;
  height: 401px;
  width: 1674px;
  background-position: center;
}

.END-OF-SEASON-SALE .END-OF-SEASON-SALE-titel {
  font-size: 60px;
  line-height: 60px;
  color: white;
  margin-top: 171px;
}

.END-OF-SEASON-SALE .END-OF-SEASON-SALE-description {
  font-size: 36px;
  line-height: 36px;
  color: white;
  margin-bottom: 127px;
}

/*.......................................................END OF SEASON SALE   конец..........................................................*/
/*.......................................................BEST SELLERS  начало..........................................................*/
.BEST-SELLERS {
  height: 676px;
  background-color: #e9f0fd;
}

.BEST-SELLERS .container {
  padding-top: 100px;
  padding-bottom: 98px;
}

/*.......................................................BEST SELLERS   конец..........................................................*/
/*.......................................................customer review  начало..........................................................*/
.customer-review {
  height: 829px;
}

.customer-review .container {
  padding-top: 104px;
  padding-bottom: 80px;
}

.customer-review .customer-review-info-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 28px;
}

.customer-review .customer-review-info-box .customer-review-info-box-big-avatar {
  width: 222px;
  height: 222px;
  border-radius: 222px;
  margin-bottom: 32px;
}

.customer-review .customer-review-info-box .customer-review-info-box-description {
  max-width: 805px;
  text-align: center;
  margin-bottom: 28px;
}

.customer-review .customer-review-small-avatar-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-review .customer-review-small-avatar-box .customer-review-small-avatar {
  width: 82px;
  height: 82px;
  border-radius: 82px;
  background-position: center;
  border: 5px solid black;
  margin-left: 11px;
  margin-right: 11px;
}

.customer-review .customer-review-small-avatar-box .customer-review-small-avatar:hover {
  border: 5px solid #1abc9c;
}

.customer-review .customer-review-small-avatar-box .customer-review-small-avatar:active {
  border: 5px solid #1abc9c;
}

/*.......................................................customer review   конец..........................................................*/
/*.......................................................NEWSLETTER  начало..........................................................*/
.NEWSLETTER {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 462px;
}

.NEWSLETTER .NEWSLETTER-background {
  position: absolute;
  z-index: -2;
  width: 1674px;
  height: 462px;
  background-position: center;
}

.NEWSLETTER .section-title {
  padding-top: 102px;
}

.NEWSLETTER .three-lines-block-white {
  margin-top: 28px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  width: 164px;
  height: 7px;
  background-color: white;
  position: relative;
  top: 6px;
}

.NEWSLETTER .three-lines-block-white::before, .NEWSLETTER .three-lines-block-white::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
}

.NEWSLETTER .three-lines-block-white::before {
  top: -4px;
}

.NEWSLETTER .three-lines-block-white::after {
  bottom: -4px;
}

.NEWSLETTER .NEWSLETTER-description {
  max-width: 280px;
  font-family: 'OpenSans';
  font-size: 17px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: -0.25px;
  color: #ffffff;
  margin-bottom: 42px;
}

.NEWSLETTER .NEWSLETTER-form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
}

.NEWSLETTER .NEWSLETTER-form .NEWSLETTER-email {
  width: 450px;
  height: 60px;
  border: none;
  outline: none;
  padding-left: 29px;
  font-family: 'OpenSans';
  font-size: 17px;
  font-weight: 300;
}

.NEWSLETTER .NEWSLETTER-form .NEWSLETTER-button {
  width: 90px;
  height: 60px;
  border: none;
  background: none;
  font-size: 28px;
  color: white;
}

/*.......................................................NEWSLETTER   конец..........................................................*/
/*.......................................................our partner  начало..........................................................*/
.our-partner {
  height: 484px;
  background-color: #e9f0fd;
}

.our-partner .container {
  padding-top: 100px;
  padding-bottom: 98px;
}

.our-partner .container .products-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.our-partner .container .products-container .product-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 149px;
}

/*.......................................................our partner   конец..........................................................*/
/*.......................................................LATEST NEWS  начало..........................................................*/
.LATEST-NEWS {
  height: 828px;
}

.LATEST-NEWS .container {
  padding-top: 104px;
  padding-bottom: 80px;
}

.LATEST-NEWS .LATEST-NEWS-info-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.LATEST-NEWS .LATEST-NEWS-info-container .LATEST-NEWS-info-box {
  width: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.LATEST-NEWS .LATEST-NEWS-info-container .LATEST-NEWS-info-box .LATEST-NEWS-info-box-avatar {
  width: 350px;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 14px;
}

.LATEST-NEWS .LATEST-NEWS-info-container .LATEST-NEWS-info-box .LATEST-NEWS-info-box-name {
  width: 301px;
  font-family: 'OpenSans';
  font-size: 18px;
  font-weight: 600;
  line-height: 1.20;
  letter-spacing: 0.1px;
  word-spacing: 1.4;
  color: #555252;
  margin-bottom: 11px;
}

.LATEST-NEWS .LATEST-NEWS-info-container .LATEST-NEWS-info-box .LATEST-NEWS-info-box-green-lines {
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  margin-bottom: 29px;
}

.LATEST-NEWS .LATEST-NEWS-info-container .LATEST-NEWS-info-box .LATEST-NEWS-info-box-description {
  max-width: 335px;
  font-family: 'OpenSans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: -0.3px;
  word-spacing: 0.1em;
  text-align: left;
  color: #555252;
  margin-bottom: 16px;
}

.LATEST-NEWS .LATEST-NEWS-info-container .LATEST-NEWS-info-box .LATEST-NEWS-info-box-button {
  width: 159px;
  height: 51px;
  border-radius: 3px;
  border: 1px solid #1abc9c;
  background-color: #4ec6ab;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: -0.3px;
}

/*.......................................................LATEST NEWS   конец..........................................................*/
/*.......................................................GET IN TOUCH  начало..........................................................*/
.GET-IN-TOUCH {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  height: 717px;
}

.GET-IN-TOUCH .GET-IN-TOUCH-background {
  position: absolute;
  width: 1700px;
  height: 717px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  z-index: -2;
}

.GET-IN-TOUCH .section-title {
  color: white;
}

.GET-IN-TOUCH-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-info-box {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 532px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #ffffff;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-info-box .big-mart {
  font-size: 72px;
  line-height: 0.8;
  letter-spacing: -0.1px;
  margin-bottom: 28px;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-info-box .info-love {
  font-size: 18px;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.4px;
  margin-bottom: 22px;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-info-box .info-description {
  line-height: 1.5;
  letter-spacing: -0.4px;
  margin-bottom: 28px;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-info-box .info-contact {
  margin-bottom: 16px;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-info-box .link-to-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 225px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-info-box .link-to-social .social-network {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  font-size: 21px;
  vertical-align: middle;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-info-box .link-to-social .social-network:hover {
  background-color: #1abc9c;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-info-box .link-to-social .social-network .fa-facebook-f {
  color: white;
  padding: 3px;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 254px 254px;
      grid-template-columns: 254px 254px;
  -ms-grid-rows: 50px 50px 120px 50px;
      grid-template-rows: 50px 50px 120px 50px;
  grid-gap: 31px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-form .GET-IN-TOUCH-input {
  outline-color: #1abc9c;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-form .GET-IN-TOUCH-form-Your-Message {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-family: 'Roboto', sans-serif;
  outline-color: #1abc9c;
}

.GET-IN-TOUCH-container .GET-IN-TOUCH-form .GET-IN-TOUCH-form-button {
  width: 151px;
  color: #ffffff;
  background-color: #1abc9c;
  outline: none;
  border: 1px solid #1abc9c;
  cursor: pointer;
}

/*.......................................................GET IN TOUCH  конец..........................................................*/
/**/
.burger-menu {
  display: none;
  width: 50px;
  height: 50px;
  background-color: red;
}

@media (max-width: 900px) {
  .navigation-login-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
  }
  .navigation-login-container .header-link {
    color: red;
  }
  .burger-menu {
    display: block;
  }
  .about {
    height: unset;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  .products-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .GET-IN-TOUCH-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .GET-IN-TOUCH-container .GET-IN-TOUCH-info-box {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .GET-IN-TOUCH-container .GET-IN-TOUCH-info-box .link-to-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 225px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */